LinkedIn/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://connection" xmlns:intf="http://connection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProfile">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProfileResponse">
    <complexType>
     <sequence>
      <element name="getProfileReturn" type="impl:UsersBean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UsersBean">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="companies" nillable="true" type="xsd:string"/>
     <element name="education" nillable="true" type="xsd:string"/>
     <element name="emailid" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="xsd:string"/>
     <element name="experience" nillable="true" type="xsd:string"/>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="lastloggedin" nillable="true" type="xsd:string"/>
     <element name="lastname" nillable="true" type="xsd:string"/>
     <element name="mobile" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="projects" nillable="true" type="xsd:string"/>
     <element name="skills" nillable="true" type="xsd:string"/>
     <element name="validate" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="fName" type="xsd:string"/>
      <element name="lName" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="mobile" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signIn">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInResponse">
    <complexType>
     <sequence>
      <element name="signInReturn" type="impl:UsersBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProfile">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="sum" type="xsd:string"/>
      <element name="exp" type="xsd:string"/>
      <element name="edu" type="xsd:string"/>
      <element name="proj" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProfileResponse">
    <complexType/>
   </element>
   <element name="getConnections">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getConnectionsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getConnectionsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getConnReq">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getConnReqResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getConnReqReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getConnectionsRequest">

      <wsdl:part element="impl:getConnections" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getConnectionsResponse">

      <wsdl:part element="impl:getConnectionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInResponse">

      <wsdl:part element="impl:signInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getConnReqRequest">

      <wsdl:part element="impl:getConnReq" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInRequest">

      <wsdl:part element="impl:signIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getConnReqResponse">

      <wsdl:part element="impl:getConnReqResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProfileRequest">

      <wsdl:part element="impl:getProfile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProfileResponse">

      <wsdl:part element="impl:updateProfileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProfileRequest">

      <wsdl:part element="impl:updateProfile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProfileResponse">

      <wsdl:part element="impl:getProfileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="getProfile">

         <wsdl:input message="impl:getProfileRequest" name="getProfileRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProfileResponse" name="getProfileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signIn">

         <wsdl:input message="impl:signInRequest" name="signInRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInResponse" name="signInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProfile">

         <wsdl:input message="impl:updateProfileRequest" name="updateProfileRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateProfileResponse" name="updateProfileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConnections">

         <wsdl:input message="impl:getConnectionsRequest" name="getConnectionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getConnectionsResponse" name="getConnectionsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConnReq">

         <wsdl:input message="impl:getConnReqRequest" name="getConnReqRequest">

       </wsdl:input>

         <wsdl:output message="impl:getConnReqResponse" name="getConnReqResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProfileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProfileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateProfileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateProfileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConnections">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConnectionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getConnectionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConnReq">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConnReqRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getConnReqResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/LinkedIn/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
